.video-page {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    color: #555555;
}

.video-info {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 20px;
    margin-bottom: 100px;
    width: 90%;
}

.video-page-title {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    color: #000;
}

.video-title {
    border-bottom: 1px solid grey;
    padding-bottom: 2%;
    margin-bottom: 2%;
}

.video-page-raite {
    display: flex;
    align-items: flex-end;
    flex-flow: column;
    justify-content: space-between;
    font-size: 22px;
    margin: 15px 0;
    min-width: 100px;
}

.video-page-raite  div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.info-wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed gray;
}

.img-info {
    display: flex;
    align-items: center;
    width: 80px;
    height: 60px;
}

.content-poster {
    flex: 1;
    max-width: 300px;
    margin-left: 3%;
    webkit-box-shadow: -2px 2px 7px rgba(0, 0, 0, .6);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, .6);
    border-radius: 10px;
    z-index: 3;
}

.video-poster {
    border-radius: 10px;
}

.content-text {
    display: flex;
    flex-flow: column wrap;
    flex: 2;
    background: white;
    padding: 20px 60px 0 30px;
    border-radius: 5px;
}


.media-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 100px;
}

.video-player {
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 18px 12px rgba(68, 186, 194, 1);
    -moz-box-shadow: 0px 0px 18px 12px rgba(68, 186, 194, 1);
    box-shadow: 0px 0px 18px 12px rgba(68, 186, 194, 1);
}


.info-list {
    display: flex;
    flex-flow: wrap;
    padding: 10px;
    justify-content: space-around;
}

.info-list--item {
    margin-right: 10px;
    font-weight: 600;
    -webkit-box-shadow: 10px 2px 5px -6px rgba(235, 211, 235, 1);
    -moz-box-shadow: 10px 2px 5px -6px rgba(235, 211, 235, 1);
    box-shadow: 10px 2px 5px -6px rgba(235, 211, 235, 1);
}
.info-list--item__decsription {
    padding: 5px;
}
/*    ============== MEDIA ==================================  */
@media only screen and (max-width: 600px) {
    .video-info {
        flex-flow: column;
    }

    .video-page-raite {
        width: 100%;
        flex-flow: wrap row;

    }

    .content-text {
        padding: 10px 5px 12px 10px;
    }
}