{% extends 'art/base.html' %}
{% load static %}
{% load inline_static_tags %}

{% block title %}
    {{ title }}
{% endblock %}v

{% block styles %}
    {% inline_style 'art/styles/search-page.css' %}
{% endblock %}

{% block main_section %}
    <section class="search-page">
        <h1 class="search-page--title">{{ title }}</h1>
        {#  =====  EMPTY RESULTS      #}
        {% if not data %}
            <h1>результатов нету</h1>
        {% endif %}
        {#  =====  EMPTY RESULTS      #}
        <div class="search-page--content">
            <ul class="search-content">
                {% for result in data %}
                    {% if result.title_ru and result.material_data.poster and result.material_data.description and result.year %}

                        <li class="search-content--items">
                            <div class="search-content--poster">
                                <a href="{% url 'video' %}?title={{ result.kinopoisk_id }}">
                                    <amp-img
                                            class="video-poster"
                                            alt="{{ result.title_ru }}"

                                            width="200"
                                            height="300"
                                            src="{{ result.material_data.poster }}"
                                    ></amp-img>
                                </a>
                            </div>
                            <div class="search-content--info">
                                <a class="search-page--link" href="{% url 'video' %}?title={{ result.kinopoisk_id }}">
                                    <h3>
                                        {{ result.title_ru }}
                                    </h3>
                                </a>
                                <h4> {{ result.year }}</h4>
                                <p class="search-page--description">{{ result.material_data.description }}</p>
                            </div>
                        </li>

                    {% endif %}
                {% endfor %}

            </ul>

        </div>
        {#   =======================     PAGINATION  ========================================     #}
        {#        <div class="pagination">#}
        {#            {% for page in reverse_loop %}#}
        {#                {% if page >= revers_step and page != 0 %}#}
        {#                    <a href={% url 'search' page=page %}?q={{ title }} class="pagination-item">{{ page }}</a>#}
        {#                {% endif %}#}
        {#            {% endfor %}#}
        {##}
        {#            {% if data.page %}#}
        {#                <a href={% url 'search' page=1 %}?q={{ title }}#}
        {#                   class="pagination-item pagination-item__disabled">{{ data.page }}</a>#}
        {#            {% endif %}#}
        {##}
        {#            {% for page in pages %}#}
        {#                {% if page != data.page and data and page <= data.total_pages %}#}
        {##}
        {#                    <a href={% url 'search' page=page %}?q={{ title }} class="pagination-item">{{ page }}</a>#}
        {##}
        {#                {% endif %}#}
        {#            {% endfor %}#}
        {#            {% if data.total_pages < 1 %}#}
        {#                <a href={% url 'search' page=data.total_pages %}?q={{ title }}#}
        {#                   class="pagination-item">{{ data.total_pages }}</a>#}
        {#            {% endif %}#}
        {##}
        {#        </div>#}
        {# =============================  PAGINATION END  ==================================   #}
    </section>

{% endblock %}