{% extends 'art/base.html' %}
{% load static %}

{% block title %}
    Cinema
{% endblock %}
{% block description %}
    <meta name="description" content="Cinema online.">
{% endblock %}
{% block main_section %}
    <section class="home">
        {#     empty or error       #}
        {% if not data %}
            <div class="err">
                <h1>Список фильмов пуст</h1>
            </div>
        {% endif %}
        {#     empty or error       #}

        {% for item in data %}
            {#  ====   Фильтрация битых ссылок  =============  #}
            {% if item.serial.kinopoisk_id and item  in data %}
                <div class="movie-card">
                    {# ==========  INFO BLOCK   ===============================   #}
                    <div class="info">
                        {% if item.serial.material_data.imdb_rating != 0 and item.serial.material_data.imdb_rating != None %}
                            <h5 class="rating">
                                IMDb :
                                <span class="rating--imdb">  {{ item.serial.material_data.imdb_rating }}</span>
                            </h5>
                        {% endif %}
                        {% if item.serial.material_data.kinopoisk_rating != 0 and item.serial.material_data.kinopoisk_rating != None %}
                            <h5 class="rating">
                                КиноПоиск :
                                <span class="rating--kinopoisk">{{ item.serial.material_data.kinopoisk_rating }}</span>
                            </h5>
                        {% endif %}
                        {#  ===== PLAY BUTTON ===========              #}
                        <a
                                href="{% url 'video' %}?title={{ item.serial.kinopoisk_id }}"
                                class="play-link"
                                rel="noopener">
                            <amp-img
                                    class="movie-poster"
                                    alt="play button"
                                    fallback
                                    width="60"
                                    height="60"
                                    src={% static 'art/img/play-button.svg' %}></amp-img>
                        </a>


                        {% if item.serial.material_data.year != 0 and  item.serial.material_data.year != 'None' and item.serial.material_data.year != None %}
                            <div class="ratelabel">
                                {{ item.serial.material_data.year }}
                            </div>{% for genres in item.serial.material_data.genres %}
                            <div class="ratelabel genres">
                                {{ genres }}
                            </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    {# ==========  INFO BLOCK   END ===============================   #}
                    {# ==========  POStER  ====================================#}
                    {% if item.serial.material_data.poster %}
                        <amp-img
                                class="movie-poster"
                                alt="{{ item.serial.title_ru }}"
                                layout="responsive"
                                width="360"
                                height="520"
                                src={{ item.serial.material_data.poster }}></amp-img>
                    {% else %}
                        <amp-img
                                class="movie-poster"
                                alt="{{ item.serial.title_ru }}"
                                layout="responsive"
                                width="600"
                                height="800"
                                src={% static 'art/img/Poster_Not_Available2.jpg' %}></amp-img>
                    {% endif %}
                    <h4 class="card-title">{{ item.serial.title_ru }}</h4>
                    {# ==========  POSER   END ====================================#}
                </div>
            {% endif %}
        {% endfor %}
    </section>
    {#   =======================     PAGINATION  ========================================     #}
    <div class="pagination">
        {% if current_page >= 2 %}
            <a href={% url 'page-serials' id=1 %} class="pagination-item pagination-item__begin">начало</a>
        {% endif %}
        {% for foo in reverse_loop %}
            {% if foo >= revers_step and foo != 0 %}
                <a href={% url 'page-serials' id=foo %} class="pagination-item">{{ foo }}</a>
            {% endif %}
        {% endfor %}

        {% if current_page %}
            <a href={% url 'page-serials' id=1 %} class="pagination-item pagination-item__disabled">{{ current_page }}</a>
        {% endif %}

        {% for foo in loop_pagination %}
            {% if foo != current_page and data %}
                <a href={% url 'page-serials' id=foo %} class="pagination-item">{{ foo }}</a>
            {% endif %}
        {% endfor %}
    </div>
    {# =============================  PAGINATION END  ==================================   #}
{% endblock %}